<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source=DESKTOP-B33BED3\SQLEXPRESS; Initial Catalog=TechDistribution;User ID=sys;Password=sys" />
	<add name="TechDistributionEntities" connectionString="metadata=res://*/BLL.TechDistributionEntities.csdl|res://*/BLL.TechDistributionEntities.ssdl|res://*/BLL.TechDistributionEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B33BED3\SQLEXPRESS;initial catalog=TechDistribution;user id=sys;password=sys;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>